In [4]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.preprocessing import MinMaxScaler, StandardScaler
df=pd.read_csv("C:\\Users\\hp\\Documents\\Python\\ecommerce_customers_unit1.csv")

df.head
num_cols=df.select_dtypes(include=['number']).columns
num_cols
print(num_cols.tolist())

['customer_id', 'age', 'num_orders', 'total_spent', 'avg_order_value', 'recency_days', 'is_premium_member', 'churned']

In [5]:
normalizer=MinMaxScaler()
df_normalized=df.copy()
df_normalized[num_cols]=normalizer.fit_transform(df[num_cols])
print(df_normalized.head())

   customer_id       age  gender country signup_date last_purchase_date  \
0     0.000000  0.745098    Male   India  2022-01-27         2024-04-27
1     0.001669  1.000000   Other      UK  2025-01-12         2025-08-01
2     0.003339  0.549020  Female     USA  2021-04-25         2021-06-01
3     0.005008  0.274510    Male   India  2021-02-23         2023-09-22
4     0.006678  0.823529  Female   India  2021-06-07         2021-12-11

   num_orders  total_spent  avg_order_value  recency_days  is_premium_member  \
0    0.769231     0.107136         0.116107      0.309382                0.0
1    0.769231          NaN         0.027021      0.035629                0.0
2    0.384615     0.027539         0.059690      0.939430                0.0
3    0.384615     0.036338         0.078762      0.438836                0.0
4    0.538462     0.031012         0.048012      0.824822                0.0

  device_type preferred_category  churned
0         NaN               Home      0.0
1      Mobile            Grocery      0.0
2         NaN                NaN      0.0
3         NaN                NaN      0.0
4      Tablet              Books      0.0

In [6]:
scaler=StandardScaler()
df_std=df.copy()
df_std[num_cols]=scaler.fit_transform(df[num_cols])
print(df_std.head())

   customer_id       age  gender country signup_date last_purchase_date  \
0    -1.731715  0.790133    Male   India  2022-01-27         2024-04-27
1    -1.725952  1.658781   Other      UK  2025-01-12         2025-08-01
2    -1.720188  0.121942  Female     USA  2021-04-25         2021-06-01
3    -1.714424 -0.813525    Male   India  2021-02-23         2023-09-22
4    -1.708660  1.057409  Female   India  2021-06-07         2021-12-11

   num_orders  total_spent  avg_order_value  recency_days  is_premium_member  \
0    1.739429     0.504370         0.042695      0.162699          -0.645648
1    1.739429          NaN        -0.864250     -0.974240          -0.645648
2   -0.405607    -0.449556        -0.531660      2.779384          -0.645648
3   -0.405607    -0.344100        -0.337495      0.700340          -0.645648
4    0.452408    -0.407935        -0.650547      2.303399          -0.645648

  device_type preferred_category   churned
0         NaN               Home -0.194257
1      Mobile            Grocery -0.194257
2         NaN                NaN -0.194257
3         NaN                NaN -0.194257
4      Tablet              Books -0.194257

In [7]:
from sklearn.preprocessing import LabelEncoder
data={'Color' : ['Red','Blue', 'Pink','Violet']}
df=pd.DataFrame(data)
le=LabelEncoder()

df['Color_Encoded']=le.fit_transform(df['Color'])
print(df)

    Color  Color_Encoded
0     Red              2
1    Blue              0
2    Pink              1
3  Violet              3

In [10]:
df=pd.read_csv("C:\\Users\\hp\\Documents\\Python\\ecommerce_customers_unit1.csv")

In [11]:
cat_cols=df.select_dtypes(include=['object']).columns
print(cat_cols.tolist())

['gender', 'country', 'signup_date', 'last_purchase_date', 'device_type', 'preferred_category']

In [12]:
le=LabelEncoder()
df['country_encoded']=le.fit_transform(df['country'])
print(df[['country','country_encoded']].head())

  country  country_encoded
0   India                3
1      UK                4
2     USA                5
3   India                3
4   India                3

In [13]:
df_onehot=pd.get_dummies(df, columns=['country'],dtype=int)
print("after one ")
print(df_onehot.head())

after one
   customer_id   age  gender signup_date last_purchase_date  num_orders  \
0        10001  56.0    Male  2022-01-27         2024-04-27          10
1        10002  69.0   Other  2025-01-12         2025-08-01          10
2        10003  46.0  Female  2021-04-25         2021-06-01           5
3        10004  32.0    Male  2021-02-23         2023-09-22           5
4        10005  60.0  Female  2021-06-07         2021-12-11           7

   total_spent  avg_order_value  recency_days  is_premium_member device_type  \
0     13273.25          1327.32           522                  0         NaN
1          NaN           308.90            61                  0      Mobile
2      3411.83           682.37          1583                  0         NaN
3      4502.00           900.40           740                  0         NaN
4      3842.10           548.87          1390                  0      Tablet

  preferred_category  churned  country_encoded  country_Australia  \
0               Home        0                3                  0
1            Grocery        0                4                  0
2                NaN        0                5                  0
3                NaN        0                3                  0
4              Books        0                3                  0

   country_Canada  country_Germany  country_India  country_UK  country_USA
0               0                0              1           0            0
1               0                0              0           1            0
2               0                0              0           0            1
3               0                0              1           0            0
4               0                0              1           0            0